diagrams/*.png
node_modules/
venv/

__pycache__/
*.py[cod]
*$py.class
=======

# vscode editor
.vscode/**/*
# !.vscode/settings.json
# !.vscode/tasks.json
# !.vscode/launch.json
# !.vscode/extensions.json